In [8]:
import pandas as pd
import numpy as np

In [9]:
s1 = pd.Series([10, 20, 30, 40, 50])  # 리스트를 이용해 시리즈 생성
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
print(s1.index)  # 시리즈의 인덱스 출력
print(s1.values)  # 시리즈의 데이터 출력

RangeIndex(start=0, stop=5, step=1)
[10 20 30 40 50]

In [11]:
s2 = pd.Series(['a', 'b', 1, 2])  # pandas는 원소의 데이터 타입이 달라도 된다.
s2

0    a
1    b
2    1
3    2
dtype: object

In [13]:
s3 = pd.Series([np.nan, np.nan, 10 ,30])  # 데이터에 특정원소가 없음을 표시
s3

0     NaN
1     NaN
2    10.0
3    30.0
dtype: float64

In [15]:
index_date = ['2018-10-07', '2018-10-08', '2018-10-09']
s4 = pd.Series([200, 195, np.nan], index = index_date)  # index를 명시적으로 입력할 수 있다.
s4

2018-10-07    200.0
2018-10-08    195.0
2018-10-09      NaN
dtype: float64

In [16]:
s5 = pd.Series({'국어':100, '영어':95, '수학':90})  # 딕셔너리를 이용하면 keys값은 index로 values는 values로 들어간다.
s5

국어    100
영어     95
수학     90
dtype: int64

In [17]:
df1 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])  # DataFrame을 이용하면 2차원 데이터를 생성하고 처리할 수 있다.
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
data_list = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])
df2 = pd.DataFrame(data_list)  # numpy 배열을 이용해 DataFrame을 만들수도 있다.
df2

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90

In [21]:
data = np.arange(1, 13).reshape(4, 3)
index_date = pd.date_range('2021-07-01', periods = 4)
columns_list = ['A', 'B', 'C']
df3 = pd.DataFrame(data, index = index_date, columns = columns_list)  # index와 columns을 지정할 수 있다.
df3

             A   B   C
2021-07-01   1   2   3
2021-07-02   4   5   6
2021-07-03   7   8   9
2021-07-04  10  11  12

In [24]:
table_date = {'연도':[2015, 2016, 2016, 2017, 2017], '지사':['한국', '한국', '미국', '한국', '미국'], 
              '고객 수':[200, 250, 450, 300, 500]}
df4 = pd.DataFrame(table_date)  # 딕셔너리 데이터를 이용해 DataFrame을 만들면 keys값이 columns값으로 생성된다.
df4

     연도  지사  고객 수
0  2015  한국   200
1  2016  한국   250
2  2016  미국   450
3  2017  한국   300
4  2017  미국   500

In [26]:
print(df4.index)  # DataFrame도 index, columns, values를 확인할 수 있다.
print(df4.columns)
print(df4.values)

RangeIndex(start=0, stop=5, step=1)
Index(['연도', '지사', '고객 수'], dtype='object')
[[2015 '한국' 200]
 [2016 '한국' 250]
 [2016 '미국' 450]
 [2017 '한국' 300]
 [2017 '미국' 500]]